body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }

a {
    color: #003161;
    font: optional;
}
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

.input {
    text-align: center;
    color: #003161;
}

.judul {
    color: #003161;
}

.isi {
    color: #003161;
    font-family: Verdana;
}